#a1{
    color: blueviolet;
    border-style: dotted ;
    border-color:green ;
}
h2{color: crimson;}
.a2{
    color: rgb(0, 4, 255);
    border: 2px solid red;
  border-radius: 50px 2px 20px ;
  margin-top: 50px;

}
#a1,.a2,p{
    
}